<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>test page</title>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
    crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <h1>BAME!</h1><br>
      <h2>The Buisness Alliance for Minority Empowerment directory</h2>
    </nav>
    <div class="jumbotron">
      <form class="form-group" action="/" method="post">
        <label>Enter all the tasks to be performed</label>
        <input type="text" name="nameVal" class="form-control"><br>
        <button class="btn btn-primary" type="submit" name="submit" value="add">Submit</button>
        <button class="btm btn-danger" type="submit" name="submit" value="delete">Delete All</button>
      </form>

    </div>
    <div class="container-fluid">
      {% for l in t %}
        <ul class="list-group-item">
          <li>{{ l }}</li>
        </ul>
      {% endfor %}
    </div>
  </body>
</html>
