<!DOCTYPE html>
<html>
<title>BAME | A business directory for the BAME community</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(255,255,255, 0.3);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255,255,255, 0.9);
}

.containerCard {
  padding: 2px 16px;
}
body, h1,h2,h3,h4,h5,h6, p, label {font-family: "Montserrat", sans-serif; color: white;}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('/static/artsCatPic.jpg');
  min-height: 100%;
}
</style>
<body style="background-color: black">

<!-- Sidebar with image -->
<nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%; background-color: black;">
  <div class="container" style="width: 100%;">
    <h1>Search BAME Directory</h1>
    <label for="searchDirectoryInfo">
      Please select a category and enter any keyword(s) accociated with the business you are looking for.
    </label>
    <form class="container" action="{{ url_for('search') }}" method="post" style="width: 100%;">
      <select class="container" name="selectCategory" required style="width: 100%;">
        <option disabled selected value="">Select your category</option>
        <option value="arts">Arts / Media / Tech</option>
				<option value="charity">Charities & Support Groups</option>
				<option value="foods">Foods / Restaurants / Takeaways</option>
				<option value="health">Health / Lifestyle / Sports & Recreation</option>
				<option value="house">Housing / Property / construction services</option>
				<option value="legal">Legal / Financial</option>
				<option value="retail">Retail / Fashion / Jewellery / Beauty & Cosmetics</option>
      </select>
      <br><br>
      <label for="keyWords">Please enter your key word followed by a comma: <i>i.e bycle, repair, bike peddal</i> </label>
      <div class="input-group mb-3">
        <input type="text" name="search" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Enter your keyword followed by a comma..">
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="search_btn">Search directory</button>
        <br>
        <br>
        {% if business %}
        <div class="card">
          <img src="/static/BondRobotics_fingerprint.JPG" alt="Avatar" style="width:100%">
          <div class="containerCard">
            <h2><b>{{ business }}</b></h2>
            <p>Founder: {{ founder }}</p>
            <p>Year business started: {{ year }}</p>
            <hr>
            <p>{{ description }}</p>
            <hr>
            {% if address %}
              <h4>Business address:</h4>
              <p>{{ address[0] }}</p>
              <p>{{ address[1] }}</p>
              <p>{{ address[2] }}</p>
              <p>{{ address[3] }}</p>
              <br>
            {% endif %}
            <hr>
            {% if email %}
              <p>Email: {{ email }}</p>
            {% endif %}

            {% if phone %}
              <p>Contact: {{ phone }}</p>
            {% endif %}

            {% if web %}
              <p>Website: </p><a href="{{ web }}">{{ web }}</a>
              <br>
            {% endif %}

            {% if tweet %}
              <p>Twitter: </p><a href="{{ Twitter }}">{{ Twitter }}</a>
              <br>
            {% endif %}

            {% if insta %}
              <p>Instagram: </p><a href="{{ Instagram }}">{{ Instagram }}</a>
              <br>
            {% endif %}
            <br>
          </div>
        </div>
        {% endif %}

        {% if err %}
          <div class="alert alert-danger">
            <b>{{ err }}</b>
          </div>
        {% endif %}

      </div>
    </form>
  </div>
  <!-- <div class="bgimg"></div> -->
</nav>

<!-- Hidden Sidebar (reveals when clicked on menu icon)-->
<nav class="w3-sidebar w3-black w3-animate-right w3-xxlarge" style="display:none;padding-top:150px;right:0;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="closeNav()" class="w3-button w3-black w3-xxxlarge w3-display-topright" style="padding:0 12px;">
    <i class="fa fa-remove"></i>
  </a>
  <div class="w3-bar-block w3-center">
    <a href="#" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">Home</a>
    <a href="#portfolio" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">Portfolio</a>
    <a href="#about" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">About</a>
    <a href="#contact" class="w3-bar-item w3-button w3-text-grey w3-hover-black" onclick="closeNav()">Contact</a>
  </div>
</nav>

<!-- Page Content -->
<div class="w3-main w3-padding-large" style="margin-left:40%">

  <!-- Menu icon to open sidebar -->
  <span class="w3-button w3-top w3-white w3-xxlarge w3-text-grey w3-hover-text-black" style="width:auto;right:0;" onclick="openNav()"><i class="fa fa-bars"></i></span>

  <!-- Header -->
  <header class="w3-container w3-center" style="padding:128px 16px" id="home">
    <h1 class="w3-jumbo"><b>BAME</b></h1>
    <p>
      <i>The Business Alliance for Minority Empowerment Directory</i>
    </p>
    <img src="/static/artsCatPic.jpg" class="w3-image w3-hide-large w3-hide-small w3-round" style="display:block;width:60%;margin:auto;">
    <!-- <img src="/w3images/profile_girl.jpg" class="w3-image w3-hide-large w3-hide-medium w3-round" width="1000" height="1333"> -->
  </header>

  <!-- CONTENT Section -->
  <div class="container w3-content w3-justify w3-text-grey w3-padding-32">

    {% block content %}{% endblock %}

  <!-- End About Section -->
  </div>


  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin:-24px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

<script>
// Open and close sidebar
function openNav() {
  document.getElementById("mySidebar").style.width = "60%";
  document.getElementById("mySidebar").style.display = "block";
}

function closeNav() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
