{% extends "layout.html" %}

{% block content %}

<h1>Your Account</h1>
<hr>

{% if business %}
  <div class="card">
    <img src="/static/artsCatPic.jpg" alt="categoryAvatar" width="100%">
    <div class="containerCard">
      <h2><b>{{ business }}</b></h2>
      <p>Founder: {{ founder }} {{ surname }}</p>
      <p>Year business started: {{ year }}</p>
      <hr>
      <p>{{ description }}</p>
      <hr>
      {% if address %}
        <h4>Business address:</h4>
        <p>{{ address[0] }}</p>
        <p>{{ address[1] }}</p>
        <p>{{ address[2] }}</p>
        <p>{{ address[3] }}</p>
        <br>
      {% endif %}
      <hr>
      {% if email %}
        <p>Email: {{ email }}</p>
      {% endif %}

      {% if phone %}
        <p>Contact: {{ phone }}</p>
      {% endif %}

      {% if web %}
        <p>Website: </p><a href="{{ web }}">{{ web }}</a>
        <br>
      {% endif %}

      {% if tweet %}
        <p>Twitter: </p><a href="{{ tweet }}">{{ tweet }}</a>
        <br>
      {% endif %}

      {% if insta %}
        <p>Instagram: </p><a href="{{ insta }}">{{ insta }}</a>
        <br>
      {% endif %}
      <br>
    </div>
  </div>
{% endif %}
<hr>
<div class="">
  <form class="" action="{{ url_for('businessList') }}" method="post">
    <h2>Your businesses:</h2>
    {% for x in artCategory %}
      <h1>{{ artCat[0]['businessName']}}</h1>
    {% endfor %}
  </form>
</div>
<hr>
<h2>Add New Buisness</h2>
<i>
  <b>
    If you have more than one business, you have the opportunity to add it
    to the our directory!
  </b>
</i>
<form action="{{ url_for('addNewBusiness') }}" method="post">
  <hr>
  <h3>Your Business</h3>
  <label for="businessName">Business Name: </label>
  <input id="businessName" type="text" name="businessName" placeholder="Name of business" required autofocus><br>
  <label for="startYear">Year Business Started: </label>
  <input id="startYear" type="number" name="startYear" placeholder="2020" required autofocus><br>
  <label for="selectCategory">Choose a Category For Your Business: </label>
  <select id="selectCategory" name="selectCategory" required>
    <option disabled selected value="">Select your category</option>
    <option value="arts">Arts / Media / Tech</option>
    <option value="charity">Charities / Support Groups / Educational Services</option>
    <option value="foods">Foods / Restaurants / Takeaways</option>
    <option value="health">Health / Lifestyle / Sports & Recreation</option>
    <option value="house">Housing / Property / construction services</option>
    <option value="legal">Legal / Financial</option>
    <option value="retail">Retail / Fashion / Jewellery / Beauty & Cosmetics</option>
  </select><br>
  <label for="businessDescription">Business Description: </label><br>
  <textarea id="businessDescription" name="businessDescription" rows="8" cols="80" placeholder="Describe your business in a few sentences..." required></textarea><br>
  <label for="keyWords">Enter Keywords Associated With Your Business</label><br>
  <i><b>Please write as many key words as possible (minimum 15)</b></i><br>
  <!-- maybe include the different categories to tag -->
  <!-- type of business (not just the category), location of city, town, borough, key features/discounts -->
  <textarea id="keyWords" name="keyWords" rows="8" cols="80" placeholder="Leave a comma after each keyword... i.e. laptops, mobile phone repairs, London, tablets, refurbished, etc" required></textarea><br>
  <hr>
  <h4>Contact</h4>
  <label for="contactSummary">
    In order to maximize the full potential of the BAME directory, you will need to provide at least an
    <b>email address.</b>
  </label><br>
  <label for="businessEmail">Email: </label><br>
  <i><b>If you do not have a business address, please use the same email used for your user login as an easy reference!</b></i>
  <input id="businessEmail" type="email" name="businessEmail" placeholder="Email address" required autofocuss><br>
  <label for="businessNumber">Contact: </label><br>
  <i><b>Please provide either a landline or a mobile number.  Only provide a number you are comfortable sharing to the public.</b></i>
  <input id="businessNumber" type="number" name="businessNumber" placeholder="Landline/Mobile">
  {% if contactERROR %}
    <br><br>
    <div class="alert alert-danger">
      <b>{{ contactERROR }}</b>
    </div>
  {% endif %}
  <hr>
  <h4>Business Address</h4>
  <label for="businessAddressSummary">
    If you do not have a business address, you can still enter the name of the city your business operates in.
    If your business has multiple locations, then please provide the headquaters or the location with the most
    frequent business.
  </label><br>
  <label for="businessAddress">Enter the first line of your adress</label>
  <input id="businessAddress" type="text" name="businessAddress" placeholder="Enter the first line of your address.."><br>
  <label for="businessTown">Town: </label>
  <input id="businessTown" type="text" name="businessTown" placeholder="Town">
  <label for="businessCity">City: </label>
  <input id="businessCity" type="text" name="businessCity" placeholder="City" required autofocus>
  <label for="businessPostcode">Postcode: </label>
  <input id="businessPostcode" type="text" name="businessPostcode" placeholder="Postcode">
  <hr>
  <h4>Online Platforms</h4>
  <label for="web">Business Website <i><b>(Optional)</b></i>: </label>
  <input id="web" type="text" name="web" placeholder="Enter business website"><br>
  <label for="insta">Instagram <i><b>(Optional)</b></i>: </label>
  <input id="insta" type="text" name="insta" placeholder="Instagram account"><br>
  <label for="tweet">Twitter <i><b>(Optional)</b></i>: </label>
  <input id="tweet" type="text" name="tweet" placeholder="Twitter account"><br>
  <br>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit" name="button">Register Business</button>
</form>

{% endblock %}
